body {
  font-family: "Bangers";
}
main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
p {
  font-size: 2rem;
}
h1 {
  font-size: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(124, 124, 221);
  padding: 2rem;
}
#pokemonSprites {
  width: 10rem;
}
button {
  margin-top: 0.5rem;
  font-family: "Story Script";
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}
#pokemonId {
  width: 9rem;
  height: 2rem;
  font-size: 1rem;
}
